<!DOCTYPE html>
<html>
<head>
    <title>Current Weather</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>The current weather in your area is <%= wx_desc %></h1>
<h2>Temperature is <%= temp_c %> Celsius</h2>
</body>
</html>